* {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  background-image: url(./images/background.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/*start header */
#header {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.tickethack {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #459e85;
  font-size: 20px;
  margin-left: 100px;
}

.bookings {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.cart {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#link {
  display: flex;
  gap: 20px;
  margin-right: 100px;
}
#link a {
  color: black;
  font-size: 15px;
}

#link a:hover {
  color: #459e85;
}
/*end header */

/*start content-title */
#content-title {
  margin-bottom: 80px;
}
.explore {
  color: white;
  font-size: 35px;
  text-align: center;
}

.compare {
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}
/*end content title */

#content-bottom {
  display: flex;
  justify-content: center;
  gap: 100px;
}

/*start right container */
#right-container {
  display: flex;
  flex-direction: column;
  background-color: azure;
  justify-content: center;
  width: 20%;
  border-radius: 10px;
}

#timeToBook {
  align-items: center;
  justify-content: center;
}

.logo {
  margin-top: 30px;
  width: 120px;
  border-bottom: 2px solid #459E85;
}

.text {
  padding: 50px;
  text-align: justify;
}
/*end right container

/* start left container **/
#left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: azure;
  width: 20%;
  height: 380px;
  border-radius: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#dateInput {
  width: 100%;
  height: 30px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  border: 0;
}

#search-btn {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  background-color: #459e85;
  color: white;
}

#search-btn:hover {
  color: #459e85;
  background-color: aqua;
}

#DepartureInput {
  margin-top: 20px;
  height: 30px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  border: 0px;
  border-bottom: 1px solid black;
}

#ArrivalInput {
  height: 30px;
  border: 0px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}
/*end left container*/

/*start div row*/
.row {
  overflow-y: scroll;
  background-color: azure;
  padding: 20px 0px;
  border-radius: 10px;
}
.row {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(236, 236, 236);
  margin: 10px 2px;
}

.addtoCart {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  background-color: #459e85;
  color: white;
}

.addtoCart:hover {
  color: #459e85;
  background-color: aqua;
}

/*version 3*/
