body {
  background-color: #ffffff;
  background-image: url(./images/background.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.tickethack {
  font-weight: bold;
  color: turquoise;
  font-size: 20px;
}

.cart {
  color: black;
  font-size: 15px;
}

.bookings {
  color: black;
  font-size: 15px;
}

.explore {
  color: white;
  font-size: 35px;
  text-align: center;
}

.compare {
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}

#header {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#link {
  display: flex;
  gap: 20px;
}
#link a {
  text-decoration: none;
}

#content-title {
  margin-bottom: 80px;
}
#content-bottom {
  display: flex;
  justify-content: center;
  gap: 100px;
}

#right-container {
  display: flex;
  flex-direction: column;
  background-color: azure;
  align-items: center;
  justify-content: center;
  width: 20%;
  border-radius: 10px;
}
.logo {
  width: 120px;
}

.text {
  padding: 50px;
  text-align: justify;
}

#left-container {
  display: flex;
  flex-direction: column;
  background-color: azure;
  width: 20%;
  border-radius: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#DepartureInput {
  margin-top: 20px;
  width: 80%;
  height: 30px;
  background-color: lightgrey;
  border-radius: 5px;
  border: 0px;
  border-bottom: 1px solid black;
}

#ArrivalInput {
  width: 80%;
  height: 30px;
  border: 0px;
  background-color: lightgrey;
  border-radius: 5px;
}
